<% provide(:title, "privacy Policy") %>
<div class="jumbotron3 text-center">
  <div class="row">
    <h1>Informativa sul trattamento dei dati</h1>
    <hr>
        <div class="panel2">
          <div class="panel-body">

  Ai sensi dell’art.13 del D.Lgs.196/2003 (Codice in materia di protezione dei dati personali), il Dipartimento di Ingegneria Informatica Automatica Gestionale Antonio Ruberti, in qualità di titolare del trattamento dei dati personali, desidera informarLa che:
i suoi dati personali, raccolti nel completo rispetto dei principi del Codice in materia di protezione dei dati personali (D.Lgs. 196/2003), saranno trattati al solo fine di fornire connettività Internet mediante servizi wireless e wired
il trattamento dei dati per la suddetta finalità realizzato mediante l’utilizzo di procedure informatiche e telematiche in grado di tutelare e garantire la riservatezza dei dati forniti e ridurre al minimo la soglia di rischio di accessi abusivi, furti o manomissioni dei dati stessi, in conformità a quanto previsto dagli artt. 31 ss D.Lgs. 196/2003 e dall’allegato B allo stesso decreto;
il conferimento dei suoi dati personali ha natura facoltativa, ma il mancato assenso non permetterà l’erogazione del servizio
i suoi dati non saranno comunicati a terzi
la informiamo infine che potrà avvalersi degli specifici diritti di cui all’art. 7 del D.Lgs.196/2003, tra cui quelli di ottenere dal titolare, anche per il tramite del responsabile o degli incaricati, la conferma dell’esistenza o meno dei suoi dati personali e la loro messa a disposizione in forma intelligibile; di avere conoscenza della logica e delle finalità su cui si basa il trattamento; di ottenere la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, nonché l’aggiornamento, la rettificazione o, se vi è interesse, l’integrazione dei dati; di opporsi per motivi legittimi al trattamento stesso.
</div>
            </div>
    </div>
    </div>