<% provide(:title, 'reset-sent') %>

<div class="jumbotron2 text-center">
    <br><br>
    <div class="panel2">
        <div class="panel-body2">
            <h1>Email inviata!</h1>
            <hr>
            <p>È stata inviata un'e-mail per resettare la password.
            Per resettare la password clicca sul link presente nella mail.</p>
        </div>
    </div>
</div>
