<% provide(:title, 'Email-confirmed') %>

<div class="jumbotron2 text-center">
  <br><br>
  <div class="panel2">
     <div class="panel-body2">
        <h1>Il tuo account è ora attivo!</h1>
        <hr>
        <%= link_to "Clicca qui" ,root_path %><p>per essere reindirizzato alla pagina iniziale ed effettuare il login.</p>
     </div>
  </div>
</div>