<div class="jumbotron3 text-center">
  <div class="row">
    <h1>Il Mio Account</h1>
    <hr>
	<%=render :partial =>"layouts/sidebar"%>
    <div class="panel3">
    	<div class="panel-body">
		</div>
	</div>
</div>
</div>
