<% if @employee.errors.any? %>
  <div class="alert fade in alert-danger alert-dismissable"><button aria-hidden="true" class="close" data-dismiss="alert" type="button">×</button>
    Devi accettare termini e condizioni
  </div>
<% end %>
