<%if params[:dispositivo].present?%>
  
  <%= link_to employee_path(session[:employee_id],:act => 'miaRete',:dispositivo=>params[:dispositivo],:order=>'asc',:subject=>'macAddress',:del=>'true',:rel=>'true') do%>
    <span class="glyphicon glyphicon-chevron-up" style=" color:white !important"></span>
  <%end%>
  <%= link_to employee_path(session[:employee_id],:act => 'miaRete',:dispositivo=>params[:dispositivo],:order=>'desc',:subject=>'macAddress',:del=>'true',:rel=>'true') do%>
    <span class="glyphicon glyphicon-chevron-down" style=" color:white !important"></span>
  <%end%>
    
<%else%>
  <%= link_to employee_path(session[:employee_id],:act => 'miaRete',:order=>'asc',:subject=>'macAddress',:del=>'true',:rel=>'true') do%>
    <span class="glyphicon glyphicon-chevron-up" style=" color:white !important"></span>
  <%end%>
  <%= link_to employee_path(session[:employee_id],:act => 'miaRete',:order=>'desc',:subject=>'macAddress',:del=>'true',:rel=>'true') do%>
    <span class="glyphicon glyphicon-chevron-down" style=" color:white !important"></span>
  <%end%>
  
<%end%>
