@import "bootstrap-sprockets";
@import "bootstrap";

/*
 *= require jquery-ui
 */ 



body {
    background-color: #822433;
}

.container .jumbotron2 {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 6px;
    padding-top: 0px;
}

.jumbotron2 {
    position: relative;
    background: image-url('sapienza.jpg') no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0px;
    color: inherit;
}

.container .jumbotron3 {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 6px;
}

.jumbotron3 {
    position: relative;
    background: image-url('sapienza.jpg') no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0px;
    color: inherit;
}

.navbar{
    background-color: #822433;
    border-color: #822433;
}

.red{
    background-color: #822433;
    color: white
}

.tableSex{
    text-align: center;
    width:50%;
}

.table2 {
    border-collapse: collapse;
    width: 100%;
}

.table2 th, td {
    text-align: left;
    padding: 8px;
}

.table2 tr:nth-child(even){background-color: #f2f2f2}

.table2 th {
    background-color: #822433 !important;
    color: white !important;
}


/*.jumbotron{
    position: relative;
    background: image-url('sapienza.jpg') no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}*/


/* typography */

h1, h2, h3, h4, h5, h6{
  line-height: 1;
  color: black !important;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-top: 30px !important;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: black !important;
}

.riep{
   color: #822433 !important;
}

#logo {
  float: left;
  padding-left: 0px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#overlay_image1{
    position: absolute;
    bottom: -50px;
    right: 60px;
    width: 30px;
    height: 30px;
}

#overlay_image2{
    position: absolute;
    bottom: -50px;
    right: 10px;
    width: 30px;
    height: 30px;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.btn-color{
    background-color: #822433 !important
}

forms 

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing(border-box)
}



.error_explanation {
  color: #822433;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color:red
  }
}

.riepilogo{
    color: #822433;
    }
 
.panel2 {
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    opacity:0.70;
}

.panel-body2 {
    padding: 15px;
}

.panel3 {
    margin-bottom: 20px;
    margin-left: 15.5%;
    margin-right: 1%;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    //opacity:0.90;
}

div.relative {
    position: relative;
}

.btn-xlarge {
    padding: 30px 30px;
    padding-bottom: 30px !important;
    padding-top :30px !important;    
    font-size: 40px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

.btn-purple {
    color: #ffffff;
    background-color: #8455C2;
    border-color: #8455C2;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
    color: #ffffff;
    background-color: #49247A;
    border-color: #130269;
}

.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
    background-image: none;
}

.btn-purple.disabled,
.btn-purple[disabled],
fieldset[disabled] .btn-purple,
.btn-purple.disabled:hover,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,
.btn-purple.disabled:focus,
.btn-purple[disabled]:focus,
fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,
.btn-purple[disabled]:active,
fieldset[disabled] .btn-purple:active,
.btn-purple.disabled.active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple.active {
    background-color: #8455C2;
    border-color: #130269;
}

.btn-purple .badge {
    color: #8455C2;
    background-color: #ffffff;
}

.nav-sidebar{
    background-color:  whitesmoke;
    height: 100%;
    }
    
.nav-sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.nav-sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav-sidebar li a.active {
    background-color: #822433;
    color: white;
}

.nav-sidebar li a:hover:not(.active) {
    background-color: indianred;
    color: white;
}

 ul#nav li a:hover,ul#nav li.active a{
     background-color: indianred;
    color: white;
}

//indirizzimac


.indirizzimacs {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .employee {
    margin-top: 5em;
    padding-top: 0;
  }
  .hostname {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.btn2:hover
{
background-image:none;
background-color:darkred !important;
color:white
}

.btn2:hover, .btn2:focus{
    color:white
}

a{
  color: MidnightBlue 
}

.green{
    background-color: green;
    color: white
}

.green:hover, .green:focus{
    background-color: LimeGreen ;
    color:white
}

.mod{
    width: 50%;
}

