<footer class="footer">
  <small>
    <a href="http://www.dis.uniroma1.it/">Dipartimento di Ingegneria Informatica Automatica Gestionale Antonio Ruberti.
        All Rights Reserved.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Homepage", root_path %></li>
      <li><%= link_to "Norme di accesso alla rete", normeAccessoRete_path %></li>
      <li><%= link_to "Privacy policy", privacyPolicy_path %></li>
      <li><a href="http://www.dis.uniroma1.it/">Chi siamo</a></li>
      <li><a href="http://www.uniroma1.it/">Sapienza</a></li>
    </ul>
  </nav>
</footer>